.fb-btn{
	color:  #4267B2 !important;
}
.fb-msg-btn{
	color:  #009FFF !important;
}
.twitter-btn{
	color:  #1DA1F2 !important;
}
.line-btn{
	color:  #00B900 !important;
}
.whatsapp-btn{
	color:  #25D366 !important;
}
.vk-btn{
	color:  #4C75A3 !important;
}
.viber-btn{
	color:  #59267c !important;
}
.telegram-btn{
	color:  #0088cc !important;
}

.ProductDetailShareButton{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}

.pr-1{
	padding-right: 5px !important;
}

.pl-1{
	padding-left: 5px !important;
}